.admin {
  display: grid;
  background-color: var(--body-color);
  margin-inline: min(var(--vpw-mobile), var(--vpw-desktop));
  padding-block: min(var(--vpw-mobile), var(--p-24));
  min-height: 100vh;

  place-content: center;
}

.admin-container {
  /* background-color: var(--container-color);
  border-radius: var(--br-14-card);
  padding: var(--p-16-card);
  max-width: min(90vw, 80rem);
  max-height: 100%;
  margin-block: var(--m-24); */
  border-radius: var(--br-16-large-card-item);
  background-color: var(--container-color);
  border: 1px solid var(--border-color);
  box-shadow: var(--shadow-body);
  padding: var(--p-16-card);
  -moz-box-shadow: var(--shadow-body);
  -webkit-box-shadow: var(--shadow-body);
  display: grid;
  grid-template-columns: 1fr;
  row-gap: var(--g-16-card);
}

.add-product {
  display: flex;
  align-items: center;
  gap: var(--g-12-card-item);
  max-width: 100%;
  max-height: 100%;
  background-color: var(--accent-color);
  color: var(--body-color);
  font-size: var(--fs-10-admin-subheader);
  padding: var(--p-12-select-box-block) var(--p-16-select-box-inline);
  border-radius: var(--br-12-small-card-item);
  border: 1px solid var(--border-color);
  justify-self: end;

  transition: var(--transition-e);
}

.add-product i {
  font-size: var(--fs-14);
}

.add-product:hover {
  background-color: var(--accent-hover-color);
}

.stock {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: var(--g-12-card-item);
}

.stock-list {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  /* align-items: center; */
}

.stock-info {
  border-radius: var(--br-12-small-card-item);
  border: 1px solid var(--border-color);
  overflow: hidden;
}

.stock-info-item {
  color: var(--title-color);
  font-size: var(--fs-10-admin-subheader);
  font-weight: var(--fw-600);
  background-color: var(--card-color);
  padding: var(--p-8-select-box-item-block) var(--p-10-select-box-item-inline);
}

.stock-info-item:not(:last-child) {
  border-right: 0.1rem solid var(--border-color);
}

.stock-product {
  border-radius: var(--br-12-small-card-item);
  border: 1px solid var(--border-color);
  overflow: hidden;
}

.stock-list:not(:last-child) {
  border-bottom: 0.1rem solid var(--border-color);
}

.stock-list-item {
  color: var(--title-color);
  font-size: var(--fs-8-admin-p);
  font-weight: var(--fw-600);
  background-color: var(--card-color);
  padding: var(--p-8-select-box-item-block) var(--p-10-select-box-item-inline);
}

.stock-list-item:not(:last-child) {
  border-right: 0.1rem solid var(--border-color);
}

.stock-img {
  display: flex;
  gap: var(--g-16-card-item);
}

.stock-img img {
  width: 30%;
}

.stock-product figcaption {
  display: grid;
  grid-template-columns: 1fr;
}

.stock-quantity {
  align-self: end;
}
