/* GOOGLE FONTS */
@import url("https://fonts.googleapis.com/css2?family=Khand:wght@400;600;700&display=swap");


/* DARK THEME */
body.dark-theme {
  /* COLOR */
  --title-color: #181818;
  --text-color: #151515;
  --text-color-light: #151515;
  --body-color: #e7e7e7;
  --container-color: #d2d2d2;
  --card-color: #bdbdbd;
  --border-color: #eaeaea;
  --accent-color: #806734;
  --accent-color-light: #ad8a42;
  --theme-btn-color: #805ad5;
}

/* VARIABLE CSS MOBILE */
:root {
  --header-height: 4.6rem;

  /* COLOR */
  --title-color: #f4f4f4;
  --text-color: #676768;
  --text-color-light: #676768;
  --body-color: #101010;
  --container-color: #1e1e1f;
  --card-color: #222224;
  --border-color: #292929;
  --accent-color: #ffce68;
  --accent-color-light: rgba(255, 207, 104, 0.5);
  --theme-btn-color: #ffce68;

  /* FONT AND TYPOGRAPHY */
  --ff: "Khand", sans-serif;
  --df-s: 62.5%
  --fs-24: 2.4rem;
  --fs-16: 1.6rem;
  --fs-14: 1.4rem;
  --fs-12: 1.2rem;
  --fs-icon: 1rem;

  /* FONT WEIGHT */
  --fw-medium: 600;
  --fw-bold: 700;

  /* SHADOW */
  --shadow-body: -4px 8px 24px 0px rgba(0, 0, 0, 0.25);
  --shadow-card: 0px 16px 30px 0px rgba(0, 0, 0, 0.25);
  --shadow-modal: 0px 24px 80px 0px rgba(0, 0, 0, 0.25);

  /* TRANSITION */
  --transition-e: 0.25s ease;
  --transition-e-i-o: 0.5s ease-in-out;

  /* Z-INDEX */
  --z-fixed: 999;

  /* MARGIN */
  --vw-5: 5vw;
  --m-16: 1.6rem;
  --m-12: 1.2rem
}

/* BASE */
*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* border: 1px solid red; */
}

html {
  font-family: var(--ff);
  font-size: var(--df-s);
  scroll-behavior: smooth;
}

body {
  font-family: var(--ff);
  background-color: var(--body-color);
  color: var(--text-color);
}

h1,
h2,
h3 { color: var(--title-color); font-weight: var(--fw-bold); }

li { list-style: none; }

a { text-decoration: none; }

img { width: 100%; height: auto; }

img, ion-icon, a, button, span { display: block;}

button,
input { 
  color: var(--text-color); 
  font-family: inherit; 
  border: none; 
  outline: none; 
}

button { cursor: pointer; }

input { width: 100%; }

::selection { 
  background-color: var(--accent-color); 
  color: var(--body-color);
}

:focus { outline-color: var(--accent-color); }

/* REUSABLE */
.section {
  padding: 1.2rem 1.6rem;
}

.container {
  background-color: var(--container-color);
  max-width: 100%;
  margin: var(--m-12);
  border: 1px solid var(--border-color);
  box-shadow: var(--shadow-body);
}

.grid {
  display: grid;
}

.separator {
  max-width: 100%;
  height: .1rem;
  background-color: var(--border-color);
  margin: var(--m-12) var(--vw-5);

}