/* GOOGLE FONTS */
@import url("https://fonts.googleapis.com/css2?family=Khand:wght@400;600;700&display=swap");


/* DARK THEME */
body.dark-theme {
  /* COLOR */
  --title-color: #181818;
  --text-color: #676768;
  --text-color-light: #676768;
  --body-color: #ffffff;
  --container-color: #e9e9e9;
  --card-color: #d3d3d3;
  --border-color: #d4d4d4;
  --accent-color: #cca553;
  --theme-btn-color: #805ad5;
  --theme-btn-color-second: #4d3680;
}

/* VARIABLE CSS MOBILE */
:root {
  --header-height-min: 4.7rem;
  --header-height-max: 5rem;

  /* COLOR */
  --title-color: #f4f4f4;
  --text-color: #676768;
  --text-color-light: #676768;
  --body-color: #101010;
  --container-color: #1e1e1f;
  --card-color: #222224;
  --border-color: #292929;
  --accent-color: #ffce68;
  --theme-btn-color: #ffce68;
  --theme-btn-color-second: #b39049;

  /* FONT AND TYPOGRAPHY */
  --ff: "Khand", sans-serif;
  --df-s: 62.5%
  --fs-24: clamp(2.4rem, calc(2.24rem + 0.49vw), 2.8rem);
  --fs-16: clamp(1.6rem, calc(1.44rem + 0.49vw), 2rem);
  --fs-14: clamp(1.4rem, calc(1.248rem + 0.49vw), 1.8rem);
  --fs-12: clamp(1.2rem, calc(1.04rem + 0.49vw), 1.6rem);
  --fs-icon: clamp(1rem, calc(.848rem + 0.49vw), 1.4rem);

  /* FONT WEIGHT */
  --fw-600: 600;
  --fw-700: 700;

  /* SHADOW */
  --shadow-body: -4px 8px 24px 0px rgba(0, 0, 0, 0.25);
  --shadow-card: 0px 16px 30px 0px rgba(0, 0, 0, 0.25);
  --shadow-modal: 0px 24px 80px 0px rgba(0, 0, 0, 0.25);

  /* TRANSITION */
  --transition-e: 0.25s ease;
  --transition-e-i-o: 0.5s ease-in-out;

  /* Z-INDEX */
  --z-fixed: 999;

  /* MARGIN */
  --m-16: 1.6rem;
  --m-12: 1.2rem;

  /* VIEWPORT */
  --vpw-5: 5vw;
  --vpw-10: 10vw;
}

/* BASE */
*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* border: 1px solid red; */
}

html {
  font-family: var(--ff);
  font-size: var(--df-s);
  scroll-behavior: smooth;
}

body {
  font-family: var(--ff);
  background-color: var(--body-color);
  color: var(--text-color);
}

h1,
h2,
h3 { color: var(--title-color); font-weight: var(--fw-bold); }

li { list-style: none; }

a { text-decoration: none; }

img { width: 100%; height: auto; }

img, ion-icon, a, button, span { display: block;}

button,
input { 
  color: var(--text-color); 
  font-family: inherit; 
  border: none; 
  outline: none; 
}

button { cursor: pointer; }

input { width: 100%; }

::selection { 
  background-color: var(--accent-color); 
  color: var(--body-color);
}

:focus { outline-color: var(--accent-color); }

/* REUSABLE */
.section {
  padding: 1.2rem 1.6rem;
}

.container {
  background-color: var(--container-color);
  max-width: 100%;
  margin: min(var(--vpw-5), var(--vpw-10));
  border: 1px solid var(--border-color);
  box-shadow: var(--shadow-body);
}

.grid {
  display: grid;
}

.separator {
  max-width: 100%;
  height: .1rem;
  background-color: var(--border-color);
  margin-block: var(--m-12);

}