.header .hero-section {
  position: absolute;
  top: 60%;
  right: 0;
  min-width: 100%;
  padding-left: 5vw;
  /* background-color: red; */
}

.header .hero-section .hero-container {
  position: relative;
  padding: var(--p-xs-s);
  grid-template-columns: 1fr 2fr;
  align-items: center;
  border-top-left-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
  width: 100%;
  background-color: var(--body-color);

  box-shadow: -10px 10px 40px 0px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: -10px 10px 40px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: -10px 10px 40px 0px rgba(0, 0, 0, 0.1);
}

.header .hero-section .hero-container .text-box .title {
  font-size: var(--h1-s);
  line-height: 1;
}

.header .hero-section .hero-container .text-box .description {
  color: var(--text-color-light);
  font-size: var(--xsf-s);
  line-height: 1.6;
  margin-bottom: var(--m-s-s);
}

.header .hero-section .hero-container .text-box .currency {
  display: flex;
  gap: 0.5rem;
  font-size: var(--nf-s);
}

.header .hero-section .hero-container .text-box .price {
  font-weight: var(--fw-medium);
}

.header .hero-section .hero-container .img-best-seller {
  /* box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.1); */

  /* position: absolute;
  top: 50%;
  right: 50%;
  width: 45%;
  transform: translate(80%, -50%); */

  transform: scale(1.2);
}
