.home {
  display: none;
}

.home.active {
  display: block;
  animation: fade 0.5s ease backwards;
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* HERO SECTION */
/* .h1 {
  position: relative;
  width: fit-content;

  ALTERNATE 
  text-decoration: underline;
  text-underline-offset: 0.5rem;
  text-decoration-color: var(--accent-color);
  text-decoration-thickness: 0.3rem;
} */

/* .h1::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 0.3rem;
  width: 100%;
  background-color: var(--accent-color);
} */

.home .hero .hero-list {
  display: flex;
  gap: var(--g-16-feature-card);
  overflow-x: auto;
  scroll-behavior: smooth;
  overscroll-behavior-inline: contain;
  scroll-snap-type: inline mandatory;
}

.home .hero .hero-list .hero-list-item {
  min-width: 100%;
  scroll-snap-align: center;

  border: 1px solid var(--border-color);
  border-radius: var(--br-14-feature-card);
  background-color: var(--card-color);
  padding: var(--p-16-feature-card);
  margin-block-end: var(--m-16);
}

.home .hero .hero-list .hero-list-item .hero-container {
  grid-template-columns: 1fr;
  align-items: center;
  row-gap: var(--g-12-feature-item);
}

.home .hero .hero-list .hero-list-item .hero-container:hover,
.home .hero .hero-list .hero-list-item .hero-container:focus {
  background-color: transparent;
}

.home
  .hero
  .hero-list
  .hero-list-item
  .hero-container
  .hero-text-box
  .hero-title {
  display: flex;
  align-items: center;
  justify-content: space-between;

  margin-block-end: var(--m-12-subheader);
}

.home
  .hero
  .hero-list
  .hero-list-item
  .hero-container
  .hero-text-box
  .hero-description {
  max-width: fit-content;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  column-gap: var(--g-12-feature-item);
}

.home .hero .hero-list .hero-list-item .hero-container .hero-img-box {
  justify-self: center;
  width: 30%;
}
