.header {
  margin-inline: min(var(--vpw-mobile), var(--vpw-desktop));
  /* margin-block-start: min(var(--vpw-mobile), var(--m-24)); */
  margin-block-start: var(--m-24);

  position: fixed;
  inset: 0;

  background-color: var(--navbar-color);

  backdrop-filter: blur(1rem);
  height: var(--header-height-min);
  overflow: hidden;
  transition: var(--transition-e-i-o);

  z-index: var(--z-fixed);
}

.header.active {
  height: var(--header-height-max);
}

.nav-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.mobile-nav {
  display: flex;
  align-items: center;
  gap: var(--m-12);
}

.logo {
  color: var(--title-color);
  font-size: var(--fs-16);
  font-weight: var(--fw-700);
}

.nav-bar i {
  font-size: var(--fs-icon);
  background: var(--card-color);
  color: var(--accent-color);
  padding: 0.6rem;
  border-radius: 0.5rem;
  border: 1px solid var(--border-color);

  transition: var(--transition-e-i-o);
}

.nav-bar i:hover,
.nav-bar i:focus {
  color: var(--card-color);
  background-color: var(--accent-color);
}

.nav-bar i#theme-btn {
  color: var(--container-color);
  background: var(--theme-btn-color);
}

.nav-bar i#theme-btn:hover,
.nav-bar i#theme-btn:focus {
  background-color: var(--theme-btn-color-second);
}

/* HEADER NAV LINK LIST */
.nav-list {
  display: flex;
  align-items: center;
  justify-content: space-between;

  opacity: 0;
  visibility: hidden;
  transition: var(--transition-e-i-o);
}

.nav-list {
  opacity: 1;
  visibility: visible;
}

.nav-link {
  font-size: var(--fs-14);
  color: var(--title-color);
  display: flex;
  align-items: center;
  gap: 0.6rem;

  transition: var(--transition-e);
}

.nav-link:hover,
.nav-link:focus {
  color: var(--text-color);
}

.nav-link.active {
  color: var(--accent-color);
}

/* NAV ICON */
/* .header .nav .nav-list li .nav-link i {
  font-size: var(--fs-icon);
  padding: 0.5rem;
  color: var(--title-color);
  background: var(--card-color);
  box-shadow: var(--shadow-card);
  border-radius: 0.5rem;
  border: 1px solid var(--border-color);

  transition: var(--transition-e);
}

.header .nav .nav-list li .nav-link:hover i,
.header .nav .nav-list li .nav-link:focus i {
  color: var(--text-color);
}

.header .nav .nav-list li .nav-link.active i {
  color: var(--accent-color);
} */
