.shop {
  display: none;
}

.shop.active {
  display: grid;
  /* IN DISPLAY GRID MIN AND MAX DOESN'T EFFECT */
  /* THIS IS FOR OVERFLOW, SO THE GRID TEMPLATE COLUMN WIDTH MINIMUM WILL NOT LONGER AUTO */
  grid-template-columns: minmax(0, 1fr);
  row-gap: var(--g-32-section);
  animation: fade 0.5s ease backwards;
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* PRODUCTS */
.filter-list {
  display: none;
}

.filter-select-box {
  width: 100%;
  position: relative;
  margin-block-end: var(--m-24-select-box);
}

.filter-select {
  width: 100%;
  background-color: var(--container-color);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: var(--p-12-select-box) var(--p-16-select-box);
  border: 0.1rem solid var(--border-color);
  border-radius: var(--br-14-card);
  font-size: var(--fs-14-select-box);
}

.filter-select.active .select-icon {
  transform: rotate(180deg);
}

.products-title {
  color: var(--title-color);
  font-weight: var(--fw-600);
  font-size: var(--fs-16-subheader);
}

.products-category {
  color: var(--text-color);
  font-size: var(--fs-14-section-p);
}
