.shop {
  display: none;
}

.shop.active {
  display: grid;
  /* IN DISPLAY GRID MIN AND MAX DOESN'T EFFECT */
  /* THIS IS FOR OVERFLOW, SO THE GRID TEMPLATE COLUMN WIDTH MINIMUM WILL NOT LONGER AUTO */
  grid-template-columns: minmax(0, 1fr);
  row-gap: var(--g-32-section);
  animation: fade 0.5s ease backwards;
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* PRODUCTS */
.filter-list {
  display: none;
}

.filter-select-box {
  width: 100%;
  position: relative;
  margin-block-end: var(--m-24-select-box);
}

.filter-select {
  width: 100%;
  background-color: var(--container-color);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: var(--p-12-select-box) var(--p-16-select-box);
  border: 0.1rem solid var(--border-color);
  border-radius: var(--br-14-card);
  font-size: var(--fs-14-select-box);
}

.filter-select.active .select-icon {
  transform: rotate(180deg);
}

.select-list {
  position: absolute;
  top: calc(100% + 0.8rem);
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  row-gap: var(--g-8-card-item);
  background-color: var(--container-color);
  border: 0.1rem solid var(--border-color);
  border-radius: var(--br-14-card);
  padding: var(--p-12-select-box) var(--p-16-select-box);

  z-index: 2;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: 0.15s ease-in-out;
}

/* + Sign to target outside of element (the second element), not on the inside of the element which is the child of the parent element*/
.filter-select.active + .select-list {
  opacity: 1;
  visibility: visible;
  pointer-events: all;
}

.select-list-item button {
  background-color: var(--container-color);
  color: var(--text-color-light);
  font-size: var(--fs-14-select-box);
  text-align: left;
  padding: var(--p-8-select-box-item) var(--p-10-select-box-item);
  width: 100%;
  border-radius: var(--br-8-select-box-item);
}

.select-list-item button:hover {
  background-color: var(--border-color);
}

.products-title {
  color: var(--title-color);
  font-weight: var(--fw-600);
  font-size: var(--fs-16-subheader);
}

.products-category {
  color: var(--text-color);
  font-size: var(--fs-14-section-p);
}
