.shop {
  display: none;
}

.shop.active {
  display: grid;
  /* IN DISPLAY GRID MIN AND MAX DOESN'T EFFECT */
  /* THIS IS FOR OVERFLOW, SO THE GRID TEMPLATE COLUMN WIDTH MINIMUM WILL NOT LONGER AUTO */
  grid-template-columns: minmax(0, 1fr);
  row-gap: var(--g-32-section);
  animation: fade 0.5s ease backwards;
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* PRODUCTS */
.filter-list {
  display: none;
}

.filter-select-box {
  max-width: 100%;
  max-height: 100%;
  position: relative;
  margin-block-end: var(--m-24-select-box);
}

.filter-select {
  min-width: 100%;
  background-color: var(--container-color);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: var(--p-12-select-box-block) var(--p-16-select-box-inline);
  border: 0.1rem solid var(--border-color);
  border-radius: var(--br-14-card);
  font-size: var(--fs-14-select-box);
}

.filter-select.active .select-icon {
  transform: rotate(180deg);
}

.select-list {
  position: absolute;
  top: calc(100% + 0.8rem);
  max-width: 100%;
  max-height: 100%;
  display: grid;
  grid-template-columns: 1fr;
  row-gap: var(--g-8-card-item);
  background-color: var(--container-color);
  border: 0.1rem solid var(--border-color);
  border-radius: var(--br-14-card);
  padding: var(--p-12-select-box-block) var(--p-16-select-box-inline);

  z-index: 2;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: 0.15s ease-in-out;
}

/* + Sign to target outside of element (the second element), not on the inside of the element which is the child of the parent element*/
.filter-select.active + .select-list {
  opacity: 1;
  visibility: visible;
  pointer-events: all;
}

.select-list-item button {
  background-color: var(--container-color);
  color: var(--text-color-light);
  font-size: var(--fs-14-select-box);
  text-align: left;
  padding: var(--p-8-select-box-item-block) var(--p-10-select-box-item-inline);
  min-width: 100%;
  border-radius: var(--br-8-select-box-item);
}

.select-list-item button:hover {
  background-color: var(--border-color);
}

.products-list {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: var(--g-24-card-item);
}

.products-list-item {
  display: none;
}

.products-list-item.active {
  display: block;
  animation: scaleUp 0.25s ease forwards;
}

@keyframes scaleUp {
  0% {
    transform: scale(0.5);
  }
  100% {
    transform: scale(1);
  }
}

.products-list-item > a {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: var(--g-16-card-item);
  max-width: 100%;
  max-height: 100%;
}

.products-img {
  position: relative;
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  max-width: 100%;
  max-height: 100%;
  border-radius: var(--br-16-card-item);
  overflow: hidden;
}

.products-img::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
  background: transparent;
  z-index: 1;
  transition: var(--transition-e);
}

.products-list-item > a:hover .products-img::before {
  background-color: rgba(0, 0, 0, 0.5);
}

.products-img img {
  max-width: 30%;
  object-fit: cover;
  transition: var(--transition-e);
}

.products-item-icon {
  --scale: 0.8;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(var(--scale));
  background-color: rgba(30, 30, 31, 0.75);
  color: var(--accent-color);
  border-radius: var(--br-12-card-item);
  padding: var(--p-16-card);
  backdrop-filter: blur(1rem);
  font-size: var(--fs-24);
  opacity: 0;
  z-index: 1;
  transition: var(--transition-e);
}

.products-list-item > a:hover .products-item-icon {
  --scale: 1;
  opacity: 1;
}

.products-title {
  color: var(--title-color);
  font-weight: var(--fw-600);
  font-size: var(--fs-16-subheader);
}

.products-category {
  color: var(--text-color);
  font-size: var(--fs-14-section-p);
}
