.testimonial-title {
  margin-block-end: var(--m-12-subheader);
}

.testimonial-list {
  display: flex;
  gap: var(--g-16-card);
  overflow-x: auto;
  scroll-behavior: smooth;
  overscroll-behavior-inline: contain;
  scroll-snap-type: inline mandatory;
}

.testimonial-list-item {
  min-width: 100%;
  scroll-snap-align: center;

  margin-block-end: var(--m-16);
}

.testimonial-container {
  row-gap: var(--g-12-card-item);
}

.testimonial-description {
  color: var(--text-color-light);
  font-size: var(--fs-14-section-p);
  line-height: 1.6;
}

.testimonial-name {
  justify-self: end;
  font-size: var(--fs-12);
}
